/* Texts */

h1 {
    font-size: 50px;
    text-align: center;
}

.prod-name {
    font-size: 20px;
    font-weight: bold;
}

.price {
    font-size: 25px;
}

.sort-info {
    text-align: center;
}



/* Divs */

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 20px;
    background: rgb(104, 180, 104);
}

#cards-container {
    display: flex;
    justify-content: space-around;
    background: rgb(104, 180, 104);
}