/* General Elements */

* {
    box-sizing: border-box;
}

/* Texts */

h1 {
    font-size: 50px;
    text-align: center;
}

.prod-name {
    font-size: 20px;
    font-weight: bold;
}

.price {
    font-size: 25px;
}

.sort-info {
    text-align: center;
}




/* Divs */

.filter-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 20px;
    background: rgb(104, 123, 180);
}

.card {
    flex-basis: 25%;
    margin: 20px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-around;
    background: rgb(104, 123, 180);
}

.not-in-search {
    display: none;
}