* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center;
}

.h1-wrap {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    text-align: center;
}

#display {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 50px auto 50px;
    height: 40vh;
    width: 60%;
    z-index: 10;
    font-size: 2rem;
    border-radius: 20px;
    background: rgb(143, 214, 211);
    border: 5px solid rgba(39, 39, 39, 0.25);
    box-shadow: 0 5px 5px 10px rgba(24, 24, 29, 0.4);
}

.btn-wrap {
    margin: 25px auto 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ask {
    height: 10%;
    width: auto;
    padding: 15px;
    font-size: 2.5rem;
    border-radius: 20px;
    color: white;
    background: rgba(0, 0, 255, 0.8);
    border: 3px solid rgba(39, 39, 39, 0.25);
    box-shadow: 0 5px 5px 10px rgba(24, 24, 29, 0.4);
}

#ask:hover {
    cursor: pointer;
    transform: translate(0, -10px);
    background: rgba(77, 77, 201, 0.801);
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90%;
    bottom: 80%;
    height: 100px;
    width: 100px;
    font-size: 3rem;
    color: black;
    background: white;
    border-radius: 20%;
    border: 2px solid black;
}



/* Animations */

.animate-display {
    animation-name: reveal-display;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes reveal-display {
    0% {
        margin-top: 20px;
    }

    33% {
        margin-top: 33px;
    }

    66% {
        margin-top: 66px;
    }

    100% {
        margin-top: 100px;
    }
}

@keyframes shrink-btn {
    50% {
        font-size: 2rem;
    }
    100% {
        font-size: 1.5rem;
    }
}


/* IMAGES */

.img-wrap {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.img-wrap img {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.img-wrap:nth-of-type(1) {
    position: absolute;
    left: 23%;
    z-index: -5;
    transform: rotate(340deg);
}
.img-wrap:nth-of-type(3) {
    position: absolute;
    left: 23%;
    z-index: -5;
    transform: rotate(340deg) scaleX(-1);
}
.img-wrap:nth-of-type(5) {
    position: absolute;
    left: 23%;
    z-index: -5;
    transform: rotate(340deg);
}
.img-wrap:nth-of-type(2) {
    position: absolute;
    right: 23%;
    z-index: -5;
    transform: rotate(20deg);
}
.img-wrap:nth-of-type(4) {
    position: absolute;
    right: 23%;
    z-index: -5;
    transform: rotate(20deg);
}
.img-wrap:nth-of-type(6) {
    position: absolute;
    right: 23%;
    z-index: -5;
    transform: rotate(20deg) scaleX(-1);
}

.img-left {
    display: block;
    animation: left-img 2s linear forwards;
    animation-play-state: running;
}
.img-right {
    display: block;
    animation: right-img 2s linear forwards;
    animation-play-state: running;
}

@keyframes left-img {
    100% {
        transform: translate(-10px, -100px)
    }
}
@keyframes right-img {
    100% {
        transform: translate(10px, -100px);
    }
}