body {
    background: white;
    margin: 0;
}

nav {
    position: relative;
    top: -19px;
    height: 50px;
    width: 100%;
    background: rgb(247, 245, 245);
    text-align: center;
}

p {
    margin: 0 50px 0;
}

.container {
    background: rgba(7, 160, 160, 0.171);
    box-sizing: border-box;
    position: relative;
    margin: 100px auto;
    height: 80vh;
    width: 65%;
    box-shadow: 10px 10px 10px 10px #0c0c0c;
}

.con-two {
    padding-top: 50px;
}

.sticky-background {
    position: sticky;
    display: inline-block;
    /* Giving display of inline or inline-block makes the left property work */
    left: 35%;
    top: 15%;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
    opacity: 0.3;
    color: black;
    text-transform: uppercase;
    font-size: 6em;
}

.absolute-background {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 6em;
    z-index: -5;
    color: black;
    opacity: 0.3;
    text-transform: uppercase;
}

.contact {
    position: fixed;
    right: 1%;
    font-size: 2.5em;
}
.phone {
    top: 35%;
    color: blue;
}
.whatsapp {
    top: 50%;
    color: green;
}
.email {
    top: 65%;
    color: yellow;
}