body {
    background: rgba(0, 128, 0, 0.164);
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
    background: rgb(70, 168, 70);
}

a {
    color: black;
}

.nav-h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: black;
}

ul {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 10px 0 10px;
    width: 30%;
    right: 0;
}

li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.underline {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: x-large;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.45s ease-out;
  }

  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* The 2 declarations above were taken from w3resource: "HTML-CSS: Hover underline animation" 
  Transition origin was altered to be bottom left
  */

p {
    margin: 15px 50px 0;
    font-family: 'Aboreto', cursive;
}

.container {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 100px auto;
    height: 85vh;
    width: 65%;
    box-shadow: 10px 10px 10px 10px #0c0c0c;
    border-radius: 0.5em;
    background: rgba(10, 196, 50, 0.377);
}
.books {
    position: absolute;
    top: 60px;
    font-size: 2.5em;
}
.left-book {
    left: 2%;
}
.right-book {
    right: 2%;
    transform: scaleX(-1);
}
#story-h1 {
    position: static;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    color: black;
    font-family: 'Aboreto', cursive;
    text-transform: uppercase;
    font-size: 6em;
}

#mission-h1 {
    position: static;
    font-size: 6em;
    margin: 0 0 0;
    z-index: -5;
    color: black;
    opacity: 0.7;
    font-family: 'Aboreto', cursive;
    text-transform: uppercase;
}

.contact {
    position: fixed;
    right: 1%;
    font-size: 2.5em;
}
.phone {
    top: 35%;
    color: blue;
}
.whatsapp {
    top: 50%;
    color: green;
}
.email {
    top: 65%;
    color: yellow;
}

.up {
    text-align: center;
    position: sticky;
    top: 550px;
    left: 50px;
    background: grey;
    border-radius: 60px;
    width: 50px;
    height: 50px;
}
.up:hover {
    background: rgb(69, 88, 66);
}
.up:hover .fa-chevron-up {
    font-size: 2rem;
}
.fa-chevron-up {
    margin-top: 10px;
    font-size: 1.5rem;
    columns: black;
    transition: transform ease-out 0.45s;|
}
