body {
    background: rgba(128, 128, 128, 0.315);
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline solid black 5px;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 2rem;
    background: rgba(128, 128, 128);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}
.nav-h1 {
    margin: 0 auto 0;
}

.left {
    float: left;
    /* Float is not exactly an efficient solution because I have to set an
    explicit height for it to span the height of the page and match
    the amount of height taken by the main div, but this is
    just for demonstration purposes at the moment */
    height: 375vh;
    width: 25%;
    margin-right: 30px;
    margin-top: 5px;
    font-size: 3em;
    border-right: 1px solid rgba(0, 0, 0, 0.205);
}
ul {
    position: sticky;
    top: 10%;
    margin-right: 25px;
}
li {
    margin: 5% auto ;
    list-style: none;
}

.main {
    margin-left: 20px;
    margin-top: 5px;
    width: auto;
}
.post {
    clear: right;
    /* Prevents images from impacting the next post */
    width: 100%;
    margin: 5% auto;
}
img {
    float: right;
    margin: 10px 10px 10px;
    max-height: 450px;
    border-radius: 5px;
}
.img-left {
    float: left;
    margin-right: 10px;
}