* {
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
    user-select: none;
}
body {
    width: 99%;
}
.container {
    position: relative;
    height: 85vh;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    background: black;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30%;
    width: 100%;
    padding: 5%;
    color: white;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    font-size: 4.5rem;
    overflow-y: clip;
    box-sizing: border-box;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 2%;
    height: 65%;
    padding: 2.5%;
    margin-bottom: 0;
    font-size: 1.5rem;
    border-radius: 5%;
}

button {
    cursor: pointer;
    font-size: 1.75rem;
    border-radius: 100%;
    background: #505050;
    outline: none;
    color: white;
}

button:active {
    filter: brightness(120%);
}

.func-btns {
    color: black;
    background: #D4D4D2;
}

.right-btns, #equal {
    background: #FF9500;
}

.right-btns:focus {
    filter: brightness(120%);
}
.buttons-container .zero {
    grid-column: span 2;
    border-radius: 2.25rem;
    padding-left: 1.25rem;
    text-align: left;
}

.home-bar {
    position: absolute;
    bottom: 5%;
    right: 25%;
    height: 6px;
    width: 50%;
    margin-top: 5px;
    border-radius: 1rem;
    background: rgb(212, 209, 209);
}