.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background: rgb(238, 236, 236);
}

input {
    width: 70%;
    margin-left: 5%;
}

h1, h2 {
    text-align: center;
}

